<launch>
        
	<!--<node name="rviz" pkg="rviz" type="rviz" />-->

    <node name="wheel_odometry_publisher" pkg="odometry" type="multi_threaded_odom.py" output="screen">
	<!--<node name="wheel_odometry_publisher" pkg="odometry" type="wheel_odometry.py" output="screen">-->
        <param name="port" type="str" value="/dev/ttyACM0"/>
    </node>
</launch>
