<launch>
	
	<!-- launch openni -->
    <include file="$(find openni_launch)/launch/openni.launch"/>
	
	<!-- launch odometry -->
    <node name="wheel_odometry_publisher" pkg="odometry" type="multi_threaded_odom.py" output="screen">
        <param name="port" type="str" value="/dev/ttyACM0"/>
	</node>

	<!-- launch depthimage to laserscan -->
    <include file="$(find depthimage_to_laserscan)/launch/laserscan.launch" />
	<node name="rviz" pkg="rviz" type="rviz" />

</launch>
